<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digit Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Digit Classifier</h1>

  <div class="container">
      <h3>Draw a digit (0–9)</h3>
      <canvas id="canvas" width="280" height="280"></canvas>
      <div class="buttons">
          <button onclick="predict()" style="background: #4CAF50;">Predict</button>
          <button onclick="clearCanvas()" style="background: #606263;">Clear</button>
      </div>
      <div id="result"></div>
      <div id="probs" class="bar-container"></div>
  </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
